  <div class="container">
    <table class="table table-bordered table-striped table-margin">
      <thead>
        <tr>
          <th>Name</th>
          <th>Username</th>
          <th>Email</th>
          <th>Address</th>
          <th>Phone Number</th>
          <th>Company</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of data">
         <td><span>{{user.name}}</span></td>
         <td><span>{{user.username}}</span></td>
         <td><span>{{user.email}}</span></td>
         <td><span>{{user.address.street}} {{user.address.suite}} {{user.address.city}}, zipcode:{{user.address.zipcode}}</span></td>
         <td><span>{{user.phone}}</span></td>
         <td><span>{{user.company.name}}</span></td>
        </tr>
      </tbody>
    </table>
  </div>
